/* $Id: basic.css,v 1.5 2004/10/18 15:20:19 loki Exp $ */
/* vim: set expandtab tabstop=4 softtabstop=4 shiftwidth=4: */

/* basic CSS1 support */
body {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: small;
}

td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: small;
}

img {
    border-width: 0;
}

h3 {
    font-size: medium;
}

pre {
    font-size: medium;
}

/* variants */
a.img {
    text-decoration: none;
    border: none;
}

span.small {
    font-size: x-small;
}
