/* $Id: basic.css,v 1.1 2002/11/14 23:42:13 loki Exp $ */

@import "advanced.css";

/* basic CSS1 support */
body {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: small;
}

td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: small;
}

img {
    border-width: 0;
}

h3 {
    font-size: medium;
}

/* variants */
a.img {
    text-decoration: none;
    border: none;
}

span.small {
    font-size: x-small;
}

