/* $Id: default.css,v 1.2 2002/10/31 09:25:13 loki Exp $ */

body {
    font-family: helvetica, sans-serif;
    font: 10pt arial, sans-serif;
    font: 10pt verdana, sans-serif;
}

table {
    font-family: helvetica, sans-serif;
    font: 10pt arial, sans-serif;
    font: 10pt verdana, sans-serif;
}

div.center {
    text-align: center;
}

span.small {
    font-size: 75%;
}

a.img {
    text-decoration: none;
    word-spacing: 0.5em;
}

img {
    border-width: 0;
}

table.head {
    border: solid gray;
}

div.footer {
    text-align: center;
}

span.topic-icon {
    float: right;
    margin-right: 1em;
}
