/* $Id: sidebar_right.css,v 1.12 2003/04/21 20:54:12 loki Exp $ */
/* vim: set expandtab tabstop=4 softtabstop=4 shiftwidth=4: */

div.sidebar-right {
    float: right;
    width: 160px;
}

div.main {
    margin-right: 170px;
}
