/* $Id: sidebar_right.css,v 1.8 2002/11/14 04:55:07 loki Exp $ */

div.sidebar-right {
    float: right;
    width: 160px;
}

div.main {
    float: left;
    margin-right: 10px;
}

/* IE hack -- this is not read by IE */
body>div.main {
    float: none;
    margin-left: 170px;
}

