/* $Id: sidebar_left.css,v 1.9 2002/11/14 04:55:07 loki Exp $ */

div.sidebar-left {
    float: left;
    width: 160px;
}

div.main {
    float: left;
    margin-left: 10px;
}

/* IE hack -- this is not read by IE */
body>div.main {
    float: none;
    margin-left: 170px;
}

