/* $Id: sidebar_left.css,v 1.5 2002/11/01 22:05:38 loki Exp $ */

div.sidebar-left {
    float: left;
    width: 9.75em;
}

div.main {
    margin-left: 10em;
    width: 100%;
}

/* IE hack -- this is not read by IE */
body>div.main {
    width: auto;
}

