/* $Id: sidebar_left.css,v 1.6 2002/11/13 23:54:18 loki Exp $ */

div.sidebar-left {
    float: left;
    width: 9.75em;
}

div.main {
    float: left;
}

/* IE hack -- this is not read by IE */
body>div.main {
    float: none;
    width: auto;
    margin-left: 10em;
}

