/* $Id: sidebar_left.css,v 1.13 2017/11/26 15:54:14 agamemnon Exp $ */
/* vim: set expandtab tabstop=4 softtabstop=4 shiftwidth=4: */

div.sidebar-left {
    float: left;
    width: 165px;
}

div.main {
    margin-left: 175px;
}
